.mosaicos
    %h2.mosaicos__title Portafolio
    - if admin_signed_in?
        = link_to "Crear colleción", new_collection_path, class: "button button--add"
    - @collections.each do |collection|
        .mosaico
            = link_to(collection) do
                .mosaico__picture
                    - unless collection.photos.empty?
                        = image_tag(collection.photos.last.url, alt: collection.photos.first.title)
                    - else
                        = image_tag("http://placepu.gs/500/300", alt: "No hay imagenes en esta colleción")
