@mixin branding {

    @include row();
    @include fill-parent;
        
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background: linear-gradient(90deg,#000403 0,#172d25 25%,#0d352d);
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.55);
    
    .no-link {
       text-decoration: none;
       color: black;
    }

    &__title, &__sub-title  {
        font-family: garamond-regular;
        text-align: center;
        text-transform: uppercase;
    }

    &__title {
        @include fill-parent;
        font-size: 2em;
        letter-spacing: 15px;
    }

    &__sub-title {
        @include fill-parent;
        font-size: 0.8em;
        margin-top: 3px;
        letter-spacing: 4px;
    }

    &__image {
      @include span-columns(1.5);
      margin-left: 2.5em;
      margin-right: auto;
      float: none;
      position: absolute;

    }

    &__loggin-button{
      @include shift(10);
      background-color: #dfdfdf;
      border: none;
      border-radius: .4em;
      box-sizing: border-box;
      color: #212;
      cursor: pointer;
      display: inline-block;
      font-size: .95em;
      font-weight: 700;
      padding: .6em .8em .8em;
      text-decoration: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      user-select: none;
      -webkit-transition: .2s;
      transition: .2s;
      vertical-align: middle;
      box-shadow: inset 0 -.25em rgba(0,0,0,.3);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-appearance: none;
    }
}
