@mixin branding {

    @include row();
    @include fill-parent;
        
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: #00180f;
    
    .no-link {
       text-decoration: none;
       color: black;
    }

    &__title, &__sub-title  {
        font-family: garamond-regular;
        text-align: center;
        text-transform: uppercase;
    }

    &__title {
        @include fill-parent;
        font-size: 2em;
        letter-spacing: 15px;
    }

    &__sub-title {
        @include fill-parent;
        font-size: 0.8em;
        margin-top: 3px;
        letter-spacing: 4px;
    }

    &__image {
      @include span-columns(1.9);
      margin-left: 2.5em;
      margin-right: auto;
      float: none;
    }

    &__loggin-button{
      font-size: 1em;
      padding: .7em 1.5em;
      border-radius: 7px;
      background-color: #21bf45;
      box-shadow: inset 0 0 0 0 rgba(34,36,38,.15);
      color: #fff;
    }
}
