.login {
    position: absolute;
    right: 10%;
    top: 30%;

  &__action {
      &--profile, &--exit {
        display: inline-block;
        color: #FAFAFA;
        &:visited {
          color: #FAFAFA;
          text-decoration: none;
        }
      }

      &--profile {
          margin-right: 13px;
      }
  }
}
