@mixin menu {
    @include row;
    @include fill-parent;
    @include outer-container;
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
 
    @include media(min-width 320px max-width 480px) {
        height: 150px;
        display: none;
        -webkit-transition: height 4s, -webkit-transform 2s; /* Safari */
        transition: height 4s, transform 2s;
    }

    .active {
        background-color: #333;
        color: white;
    }
    &__item {
        font-family: "futura";
        @include span-columns(2.4);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        height: 100%;
        color: black;
        padding-top: 8px;
        font-size: 1em;
        letter-spacing: 0.2em;

        @include media(min-width 320px max-width 480px) {
            @include span-columns(12);
            height: 30px;
        }

        &:hover {
            background-color: #F0F0F0;
        }
    }
}