@mixin branding {

    @include row();
    @include fill-parent;
        
    padding-top: 20px;
    padding-bottom: 20px;
    
    .no-link {
       text-decoration: none;
       color: black;
    }

    &__title, &__sub-title  {
        font-family: garamond-regular;
        text-align: center;
        text-transform: uppercase;
    }

    &__title {
        @include fill-parent;
        font-size: 2em;
        letter-spacing: 15px;
    }

    &__sub-title {
        @include fill-parent;
        font-size: 0.8em;
        margin-top: 3px;
        letter-spacing: 4px;
        background-color: red;
    }

}