%footer.footer
  = image_tag("isologo--negative.png",  class: 'footer_image')
  %div.footer_link
    %a.footer_link-item{:href => "/"} Inicio
    %a.footer_link-item{:href => "#"} Acerca de nosotros
    %a.footer_link-item{:href => "#"} Contacto
    %a.footer_link-item{:href => "#"} Aviso de privacidad
    %a.footer_rights-copyright | ©2017 Cheesy