%footer.footer
  %div.footer_about
    %h4.footer_about-title Acerca de nosotros
    %a.footer_about-link{:href => "#"} Contactanos
  %div.footer_rights
    %h4.footer_rights-call2action Entra y conocenos
    %p.footer_rights-copyright ©2017 Cheesy S.A. de C.V. Todos los derechos reservados.