.about
    .about__photo
        = image_tag("isotipo.png", class: 'about__photo__picture', alt: "")

    .about__text
        %h2.about__text__title
            Cheesy.mx

        .about__text__text
            %h3 Misión
            %p En Cheesy queremos ayudarte a capturar tus momentos más especiales y convertirlos en historias perdurables, brindando el mejor servicio a nuestros clientes, seguridad de sus datos y la mejor experiencia mientras recuerdan aquellos eventos en nuestra plataforma digital de fotografía.
            %h3 Visión
            %p Ser la principal opción de todas las personas al pensar en fotografía digital para sus eventos, buscando soluciones innovadoras y asequibles con la mejor calidad en nuestro servicio.
            %h3 Valores
            %ul
                %li Responsabilidad
                %li Profesionalismo
                %li Integridad
                %li Ética Profesional

