<div class="plans">
    <h2 class="plans__section-title"></h2>

    <div class="plans__elements">
        <div class="plans__elements__plan">
            <h2 class="plans__elements__plan__title">
             Básico   
            </h2>
            <ul class="plans__elements__plan__features">
                <li>Cobertura de ceremonia religiosa</li>
                <li>Cobertura de evento</li>
                <li>Album de 6x9 pulgadas, 36 pag</li>
                <li>100 impresiones de 4x6"</li>
                <li>150 fotografias digitales</li>
                <li>Sesión de fotos pre-evento</li>
                <li>Amplicación de 30x45 centimentros</li>
                <li>Link con las fotografías del evento</li>
            </ul>
        </div>
        <div class="plans__elements__plan">
            <h2 class="plans__elements__plan__title">
                Medio
            </h2>
            <ul class="plans__elements__plan__features">
                <li>Proceso de Maquillaje</li>
                <li>Cobertura de ceremonia religiosa</li>
                <li>Cobertura de evento</li>
                <li>Album de 10x10", 36 pag</li>
                <li>120 impresiones de 8x10"</li>
                <li>150 fotografías digitales</li>
                <li>Sesión de fotos pre-evento</li>
                <li>Ampliación de 40x50 centimetros</li>
                <li>Estuches de madera personalizados</li>
                <li>Link con las fotografias del evento</li>
                <li>Respaldo en memoria USB</li>
            </ul>
        </div>

        <div class="plans__elements__plan">
            <h2 class="plans__elements__plan__title">
                Completo
            </h2>
            <ul class="plans__elements__plan__features">
                <li>Proceso de Maquillaje</li>
                <li>Cobertura de ceremonia religiosa</li>
                <li>Cobertura de evento</li>
                <li>Album de 9x12", 40 pag</li>
                <li>150 impresiones de 8x10"</li>
                <li>200 fotografías digitales</li>
                <li>Sesión de fotos pre-evento</li>
                <li>Trash the dress fifteen</li>
                <li>Ampliación de 50x75 centimetros</li>
                <li>Estuches de madera personalizados</li>
                <li>Link con las fotografias del evento</li>
                <li>Respaldo en memoria USB</li>
                <li>Respaldo en DVD</li>
            </ul>
        </div>

    </div>
</div>
