%section.jumbotron
  %h1= @msg
  %h2 Nuestros clientes

.schools.schools-container
  - @schools.each do |school|
    %a.schools__brand{href: school_path(school)}
      .schools__brand__group{style: "background-image: url('#{image_url(school.url)}')"}
