%section.jumbotron
  %h1= @msg
  %h2 Nuestros clientes

%section.container.schools
  - @schools.each do |school|
    %a.schools_brand{href: school_path(school)}
      = image_tag(school.url,  class: 'schools_brand-logo', alt: school.name)
      %p.schools_brand-name= school.name