- begin
  - image_url = ::DBX.get_temporary_link('/logo.png')[1]
- rescue
  - image_url = image_url("cover.png")
.jumbotrons
  %section.jumbotron--blur{style: "background-image: radial-gradient(transparent,  transparent,  #000), url('#{image_url}')"}
  %section.jumbotron
    = image_tag("isologo--negative.png", class: ["jumbotron__logo"])
    %h2 Historias que se cuentan con sonrisas

.schools-container
  .schools
    - @schools.each do |school|
      - begin
        - image_url = ::DBX.get_temporary_link(school.dpath + '/logo.png')[1]
      - rescue
        - image_url = image_url("cover.png")

      %a.schools__brand{href: school_path(school)}
        .schools__brand__group{style: "background-image: url('#{image_url}')"}