%section.jumbotron
  %h1 Cheesy
  %h2 Historias que perduran

.grid-image
  - if admin_signed_in?
    = link_to "Agregar una escuela", new_school_path, class: "button button--add"
.schools-container
  .schools
    - @schools.each do |school|
      %a.schools__brand{href: school_path(school)}
        .schools__brand__group{style: "background-image: url('#{image_url(school.url)}')"}
