- @photos.each do |photo|
  .photo
    = image_tag photo.url, alt: photo.title
    %h2.title #{photo.title}
    %p.description #{photo.description}

    http://www.hbc333.com/data/out/190/47199326-profile-pictures.png
    +
