= form_for @photo, action: "create" do |f|
  .form_field
    %label{for: 'title'} Nombre de la fotografia
    = f.text_field :title
  .form_field
    %label{for: 'description'} Descripción de la fotografia
    = f.text_area :description
  = f.submit "Crear"
