.schools-container {
  background-color: #FAFAFA;
  padding-top: 50px;
  position: relative;
  @include outer-container;
  padding-top: 150px;
  margin-bottom: 50px;
  margin-top: 50px;

}


.schools{
  @include outer-container;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  position: relative;
  &__brand{
    margin-left: 20px;
    margin-bottom: 2em;
    text-decoration: none;

    &__group {
      height: 200px;
      width: 300px;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;

      &__title {
        font-size: 1.4em;
        color: #333;
        bottom: 0;
        position: absolute;
      }
    }
  }

}
