.plans {
    @include outer-container;

    &__section-title {
        font-size: 1.5em;
        text-align: center;
        padding-top: 33px;
        padding-bottom: 29px;
        text-transform: uppercase;
        font-family: futura;
        letter-spacing: 0.2em;
    }

    &__elements {
        @include fill-parent;
        @include row;

        &__plan {
            @include span-columns(4);
            border: 1px solid #AF6D2F;
            text-align: center;
            height: 450px;
            padding-left: 49px;
            padding-right: 49px;
            font-family: futura;


            @include media(min-width 320px max-width 480px) {
                @include outer-container;
                @include span-columns(12);
		height: auto;
                margin: 15px auto;
            }

            &__title {
                margin-bottom: 10px;
                letter-spacing: 0.2em;
                padding-top: 20px;
                font-size: 1.5em;
                text-transform: uppercase;
                padding-bottom: 25px;
            }

            &__features {
                text-align: left;
                font-size: 1em;
               li {
                   padding-bottom: 6px;
               }
            }
        }
    }
}
