@font-face {
    font-family: 'Roboto', sans-serif;
    src: font-url('Futuralt.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: font-url('Futurabc.ttf');
    font-weight: bold;
}
